/* From big tablets to 1200px */
@media only screen and (max-width: 1200px) {
	.header-text {
	    width: 100%;
	    padding: 0 2%;
	}

	.main-nav {
	    padding: 0 2%;
	}

}

/* Small tablets to big tablets	*/
@media only screen and (max-width: 1023px) {
	.social-icons {
        display: block;
	    margin: 4% auto 0 auto;
	    max-width: 30%;
	}

	body {
		font-size: 18px;
	}

	section {padding: 60px 0;}
}

/* From small phones to small tablet devices; 481px - 767px */
@media only screen and (max-width: 767px) {
	.social-icons {
		max-width: 80%;
		text-align: center;
	}

	.skills {
		width: 80%;
    	margin: auto;
	}

	.box {
		font-size: 80%;
		width: 40.26%;
	}

	.col {
		margin: 1% 3% 1% 0;
	}
}


/* Small Mobile phones from 0px - 480-px */
@media only screen and (max-width: 480px) {
	.header-text {
		top: 60%;
	}

	.main-nav li {
		margin-left: 20px;
	}

	.col {
		width: 100%;
		margin: 1% 3% 2% 0;
	}

	form {
		width: 90%;
	}
}
